<div class='container'>
<h2><%= @master.nameFirst + ' ' + @master.nameLast%></h2><br>
<table class="table">
    <tr>
      <td>Year</td>
      <td>Team</td>
      <td>lg</td>
      <td>W</td>
      <td>L</td>
      <td>G</td>
      <td>GS</td>
      <td>CG</td>
      <td>SHO</td>
      <td>SV</td>
      <td>IP</td>
      <td>H</td>
      <td>ER</td>
      <td>HR</td>
      <td>BB</td>
      <td>SO</td>
      <td>K/9</td>
      <td>BB/9</td>
      <td>Opp BA</td>
      <td>ERA</td>
      <td>iBB</td>
      <td>WP</td>
      <td>HBP</td>
      <td>Balk</td>
      <td>Batters Faced</td>
      <td>Games Finished</td>
      <td>R</td>
      <td>SH</td>
      <td>SF</td>
      <td>GIDP</td>
    </tr>
<% @master.pitchers.each do |pitcher| %>
    <tr>
      <td><%= pitcher.year %></td>
      <td><%= pitcher.teamID %></td>
      <td><%= pitcher.lgID %></td>
      <td><%= pitcher.w %></td>
      <td><%= pitcher.l %></td>
      <td><%= pitcher.g %></td>
      <td><%= pitcher.gs %></td>
      <td><%= pitcher.cg %></td>
      <td><%= pitcher.sho %></td>
      <td><%= pitcher.sv %></td>
      <td><%= pitcher.ipouts / 3 %></td>
      <td><%= pitcher.h %></td>
      <td><%= pitcher.er %></td>
      <td><%= pitcher.hr %></td>
      <td><%= pitcher.bb %></td>
      <td><%= pitcher.so %></td>
      <td><%= pitcher.k_nine.round(2) %></td>
      <td><%= pitcher.bb_nine.round(2) %></td>
      <td><%= pitcher.baopp %></td>
      <td><%= pitcher.era %></td>
      <td><%= pitcher.ibb %></td>
      <td><%= pitcher.wp %></td>
      <td><%= pitcher.hbp %></td>
      <td><%= pitcher.bk %></td>
      <td><%= pitcher.bfp %></td>
      <td><%= pitcher.gf %></td>
      <td><%= pitcher.r %></td>
      <td><%= pitcher.sh %></td>
      <td><%= pitcher.sf %></td>
      <td><%= pitcher.gidp %></td>
    </tr>
  <% end %>
</table>
</div>
<div class='container'>
<form method='post' action='/charts'>
  <select name='year'>
    <% @master.pitchers.each do |year| %>
      <option value='<%= year.year %>'><%= year.year %></option>
    <% end %>
  </select>
  <select name='field1'>
    <option value='w'>W</option>
    <option value='l'>L</option>
    <option value='g'>G</option>
    <option value='gs'>GS</option>
    <option value='cg'>CG</option>
    <option value='sho'>SHO</option>
    <option value='sv'>SV</option>
    <option value='ipouts'>IP</option>
    <option value='h'>H</option>
    <option value='er'>ER</option>
    <option value='hr'>HR</option>
    <option value='bb'>BB</option>
    <option value='so'>SO</option>
    <option value='k_nine'>K/9</option>
    <option value='bb_nine'>BB/9</option>
    <option value='baopp'>Opp BA</option>
    <option value='era'>ERA</option>
    <option value='ibb'>iBB</option>
    <option value='wp'>WP</option>
    <option value='hbp'>HBP</option>
    <option value='bk'>Balk</option>
    <option value='bfp'>Batters Faced</option>
    <option value='gf'>Games Finished</option>
    <option value='r'>R</option>
    <option value='sh'>SH</option>
    <option value='sf'>SF</option>
    <option value='gidp'>GIDP</option>
  </select>
  <select name='field2'>
    <option value='w'>W</option>
    <option value='l'>L</option>
    <option value='g'>G</option>
    <option value='gs'>GS</option>
    <option value='cg'>CG</option>
    <option value='sho'>SHO</option>
    <option value='sv'>SV</option>
    <option value='ipouts'>IP</option>
    <option value='h'>H</option>
    <option value='er'>ER</option>
    <option value='hr'>HR</option>
    <option value='bb'>BB</option>
    <option value='so'>SO</option>
    <option value='k_nine'>K/9</option>
    <option value='bb_nine'>BB/9</option>
    <option value='baopp'>Opp BA</option>
    <option value='era'>ERA</option>
    <option value='ibb'>iBB</option>
    <option value='wp'>WP</option>
    <option value='hbp'>HBP</option>
    <option value='bk'>Balk</option>
    <option value='bfp'>Batters Faced</option>
    <option value='gf'>Games Finished</option>
    <option value='r'>R</option>
    <option value='sh'>SH</option>
    <option value='sf'>SF</option>
    <option value='gidp'>GIDP</option>
  </select>
  <select name='field3'>
    <option value='w'>W</option>
    <option value='l'>L</option>
    <option value='g'>G</option>
    <option value='gs'>GS</option>
    <option value='cg'>CG</option>
    <option value='sho'>SHO</option>
    <option value='sv'>SV</option>
    <option value='ipouts'>IP</option>
    <option value='h'>H</option>
    <option value='er'>ER</option>
    <option value='hr'>HR</option>
    <option value='bb'>BB</option>
    <option value='so'>SO</option>
    <option value='k_nine'>K/9</option>
    <option value='bb_nine'>BB/9</option>
    <option value='baopp'>Opp BA</option>
    <option value='era'>ERA</option>
    <option value='ibb'>iBB</option>
    <option value='wp'>WP</option>
    <option value='hbp'>HBP</option>
    <option value='bk'>Balk</option>
    <option value='bfp'>Batters Faced</option>
    <option value='gf'>Games Finished</option>
    <option value='r'>R</option>
    <option value='sh'>SH</option>
    <option value='sf'>SF</option>
    <option value='gidp'>GIDP</option>
  </select>
    <select name='field4'>
    <option value='w'>W</option>
    <option value='l'>L</option>
    <option value='g'>G</option>
    <option value='gs'>GS</option>
    <option value='cg'>CG</option>
    <option value='sho'>SHO</option>
    <option value='sv'>SV</option>
    <option value='ipouts'>IP</option>
    <option value='h'>H</option>
    <option value='er'>ER</option>
    <option value='hr'>HR</option>
    <option value='bb'>BB</option>
    <option value='so'>SO</option>
    <option value='k_nine'>K/9</option>
    <option value='bb_nine'>BB/9</option>
    <option value='baopp'>Opp BA</option>
    <option value='era'>ERA</option>
    <option value='ibb'>iBB</option>
    <option value='wp'>WP</option>
    <option value='hbp'>HBP</option>
    <option value='bk'>Balk</option>
    <option value='bfp'>Batters Faced</option>
    <option value='gf'>Games Finished</option>
    <option value='r'>R</option>
    <option value='sh'>SH</option>
    <option value='sf'>SF</option>
    <option value='gidp'>GIDP</option>
  </select>
    <select name='field5'>
    <option value='w'>W</option>
    <option value='l'>L</option>
    <option value='g'>G</option>
    <option value='gs'>GS</option>
    <option value='cg'>CG</option>
    <option value='sho'>SHO</option>
    <option value='sv'>SV</option>
    <option value='ipouts'>IP</option>
    <option value='h'>H</option>
    <option value='er'>ER</option>
    <option value='hr'>HR</option>
    <option value='bb'>BB</option>
    <option value='so'>SO</option>
    <option value='k_nine'>K/9</option>
    <option value='bb_nine'>BB/9</option>
    <option value='baopp'>Opp BA</option>
    <option value='era'>ERA</option>
    <option value='ibb'>iBB</option>
    <option value='wp'>WP</option>
    <option value='hbp'>HBP</option>
    <option value='bk'>Balk</option>
    <option value='bfp'>Batters Faced</option>
    <option value='gf'>Games Finished</option>
    <option value='r'>R</option>
    <option value='sh'>SH</option>
    <option value='sf'>SF</option>
    <option value='gidp'>GIDP</option>
  </select>
  <input type='submit' value='MAKE A CHART'>
</form>
</div>
<br>

<canvas class='hidden' id="myChart" width="400" height="400"></canvas>



<p class='hidden'><%= @master.id %></p>
